.circle {
    background-color: transparent;    
    background-position: center;
    background-size: contain;
    height: 200px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.menu-geral {
    cursor:pointer;
    height: 30px;
}